* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.heading__logo img {
  width: 150px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.heading__logo img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav__item a {
  text-decoration: none;
  color: black;
}

.nav__item:hover {
  background-color: rgb(202, 220, 122);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.168);
}

.active {
  text-decoration: underline;
}

/* Pokemon Cards */
.cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  margin: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.card .pokemon-img {
  border: 1px solid black;
  border-radius: 2px;
}

.card .card-title {
  display: flex;
  padding: 0 1rem;
}

.card .card-title img {
  margin-left: auto;
  gap: 1rem;
}

.card .like-count {
  align-self: flex-end;
  margin-bottom: 0.7rem;
}

.card .buttons button {
  font-size: 1rem;
  padding: 0.3rem 0.9rem;
  margin: 5px;
  box-shadow: 5px 5px 2px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 2px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 2px -1px rgba(0, 0, 0, 0.75);
}

.card .buttons button:hover {
  color: #fff;
  background-color: #000;
}

.card .buttons button:active {
  transform: scale(0.95);
}
