.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.heading__logo img {
  width: 150px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.heading__logo img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav__item a {
  text-decoration: none;
  color: black;
}

.nav__item:hover {
  background-color: rgb(202, 220, 122);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.168);
}

.active {
  text-decoration: underline;
}
